@import "../../variables";
.notification {
	position: absolute;
	bottom: 2rem;
	left: 50%;
	transform: translateX(-50%);
	background-color: $surface-color;
	box-shadow: $component-shadow;
	border-radius: 0.8rem;
	padding: 0.8rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.8rem;
	border: 0.1rem solid $bg-color;
	animation: appear 0.3s forwards;
	opacity: 0;

	&__icon-container {
		height: 2rem;
		width: 2rem;
		border-radius: 50%;
		background-color: currentColor;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__icon {
		&--info {
			color: $surface-color;
			font-size: 1.5rem;
		}
		&--success {
			color: $surface-color;
			font-size: 2rem;
		}
		&--error {
			color: $surface-color;
			font-size: 1.4rem;
		}
	}
	&__message {
		font-size: 1.4rem;
		font-weight: 400;
	}

	&--info {
		color: $primary-color;
	}
	&--success {
		color: $success-color;
	}
	&--error {
		color: $error-color;
	}

	&--disappear {
		animation: disappear 0.3s forwards;
	}
}

@keyframes appear {
	from {
		opacity: 0;
		transform: translate(-50%, 0);
	}
	to {
		opacity: 1;
		transform: translate(-50%, -2rem);
	}
}

@keyframes disappear {
	from {
		opacity: 1;
		transform: translate(-50%, -2rem);
	}
	to {
		opacity: 0;
		transform: translate(calc(-50% - 4rem), -2rem);
	}
}
