$bg-color: #2e3440;
$surface-color: #3b4252;
$component-color: #434c5e;
$component-color-highlight: #4c566a;

$text-color: #eceff4;
$text-color-lessen: #e5e9f0;
$text-color-disable: #d8dee9;

$primary-color: #88c0d0;

$warning-color: #ebcb8b;
$error-color: #bf616a;
$success-color: #a3be8c;
$edit-color: $warning-color;
$delete-color: $error-color;

$component-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.25);
